.drink_item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: rgb(193, 248, 109);
    margin: 8px;
    border-radius: 24px;
}

.drink_item_title {
    font-weight: bold;
    font-size: large;
    border: yellow;
}

.drink_item_location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.drink_item_ws_name {
    font-size: medium;
    font-weight: 500;
    padding-left: 4px;
}

.drink_item_price_percentage {
    margin-top: 12px;
}

.drink_item_price {
    width: fit-content;
    color: red;
    font-weight: 900;
    box-shadow: yellow;
    border-radius: 12px;
    padding-left: 4px;
    margin-top: 8px;
}

.drink_item_order {
    background: #000000;
    padding: 12px;
    margin-top: 4px;
    border-width: 0;
    font-weight: 500;
    color: white;
    margin-bottom: 8px;
}

.drink_item_button_span {
    margin-left: 8px;
}

.drink_item_deliverly {
    align-items: flex-end;
    padding: 4px;
}

.drink_item_image {
    background-color: white;
    /* padding: 1.2em; */
    border-top-left-radius: 0px;
    /* border-top-right-radius: 24px; */
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.drink_item_image>img {
    border-radius: 24px;
}